@inherits InputBase<string>

<div class="group">
    <input type="text" @bind="CurrentValue" /><span class="highlight"></span><span class="bar"></span>
    <label>@Label</label>
    <span class="render-message">@_renderMessage</span>
</div>